@model FGL.Web.ViewModels.OGL00003Model

@{
    Layout = "~/Views/Shared/_LayoutFrame.cshtml";
    ViewBag.Title = ViewBag.funcName;
    var opScope = ViewBag.opScope;
}




<div class="container-fluid" id="main">
    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Title</div>
        <div class="panel-body">
            <div id="validationSummary" style="color:red;">
            </div>
            @if (opScope != "" && opScope != "0")
            {
                <table>
                    <tr>
                        <td>
                            異動日期：
                            <input id="updDateB" name="updDateB" type="text">
                            ~
                            <input id="updDateE" name="updDateE" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.item)：@Html.TextBoxFor(model => model.item, new { @size = "10", @maxlength = "8", @onkeyup = "this.value = this.value.toUpperCase();" })
                        </td>
                    </tr>

                </table>

                <div class="row">
                    <div class="col-sm-24" style="text-align:center;">
                        <input type="submit" id="btnQry" name="btnQry" value="查詢" class="btn btn-primary" />
  
                    </div>
                </div>

                <div class="row">
                    <div id="qryResult" class="col-sm-24">
                        <table id="grid"></table>
                        <div id="pager"></div>
                    </div>
                </div>
            }



        </div>
    </div>

</div>



<script type="text/javascript">

    //轉跳"申請單明細"畫面
    function qryDetail(aplyNo) {
        document.location.href = "/OGL00003A/detailAply/?aplyNo=" + aplyNo;
    }



    $(function () {
        $.unblockUI();
        var opScope = '@Html.Raw(ViewBag.opScope)';

        if (opScope == "" || opScope == "0") {
            $('#validationSummary').children().remove();

            var validationSummary = $('#validationSummary ul.validation-summary-errors');

            if (validationSummary.length == 0) {
                $('#validationSummary').append('<ul class="validation-summary-errors"></ul>');
                validationSummary = $('#validationSummary ul.validation-summary-errors');
            }
            validationSummary.append('<li>' + '無使用權限' + '</li>');

        }


        $('#updDateB').datepicker({
            dateFormat: 'yyyy-mm-dd'
        });

        $('#updDateE').datepicker({
            dateFormat: 'yyyy-mm-dd'
        });




        //*---------------查詢 begin ----------------*//
        $("#btnQry").click().on('click', function () {

            createGrid();
        });
        //*---------------查詢 end ----------------*//




        //*--------------查詢待覆核資料  begin-----------------*//
        function createGrid() {

            var jsonData = {
                updDateB: $("#updDateB").val(),
                updDateE: $("#updDateE").val(),
                item: $("#item").val()
            };


            $('#qryResult').children().remove();

            $('#qryResult').append('<table id="' + "grid" + '"></table>');
            $('#qryResult').append('<div id="' + "pager" + '"></div>');



            $.blockUI(); //畫面鎖起來

            $("#grid").jqGrid({
                url: '/OGL00003A/LoadData/',
                postData: jsonData,
                datatype: 'json',
                jsonReader: {
                    repeatitems: false, id: 'aplyNo'
                },
                mtype: 'POST',
                colModel: [
                {
                    label: '覆核單編號',
                    name: 'aplyNo', align: 'center',
                    editable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        var aplyNo = rowObject.aplyNo;
                        // return '<a style="color:Blue;text-decoration:underline;" href="/FGL10181A/detailAply/?aplyNo=' + options.rowId + ' ">' + cellvalue.trim() + '</a>';
                        return '<a href="javascript:qryDetail(\'' + options.rowId + '\')" style="color: #3366ff" id="' + options.rowId + '" >' + cellvalue.trim() + '</a>';

                    }
                },
               {
                   label: '險種',
                   name: 'item', align: 'center',
                   editable: false

               },
               {
                   label: '申請人',
                   name: 'prodUpId', align: 'center',
                   editable: false
               },
                {
                    label: '申請日期',
                    name: 'prodUpDt', align: 'center',
                    editable: false
                }
                ],

                autowidth: true,
                shrinkToFit: false,
                forceFit: true,
                pager: '#pager',
                width: 'auto',
                height: 'auto',
                rowNum: 10,
                rowList: [10, 20],
                sortname: 'aplyNo',
                sortorder: "acs",
                viewrecords: true,
                loadonce: true,
                loadComplete: function () {
                    var cnt = $('#grid').getGridParam('records')
                    $('#validationSummary').children().remove();

                    if (cnt == 0) {


                        var validationSummary = $('#validationSummary ul.validation-summary-errors');

                        if (validationSummary.length == 0) {
                            $('#validationSummary').append('<ul class="validation-summary-errors"></ul>');
                            validationSummary = $('#validationSummary ul.validation-summary-errors');
                        }
                        validationSummary.append('<li>' + '無符合條件的資料!!' + '</li>');

                    }
                }

            });

            $.unblockUI(); //畫面打開
        }

        //*--------------查詢待覆核資料  end-----------------*//







    });
</script>


