<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--AESKey :  AES加&解 密的key-->
    <add key="AESKey" value="fbim"/>
    <!--parameterEncrypt : sql 參數 AES加密 Y=>加密 N=>不加密-->
    <add key="parameterEncrypt" value="N"/>
    <!--sendStyle : 寄送 mail & m+ 設定 A=>都發送 M=>只發送Mail P=>只發送M+ -->
    <add key="sendStyle" value="M"/>
    <!--IpFrom : 抓IP 參數  P=>正式 U=>測試-->
    <add key="IpFrom" value="U"/>
    <!--UATmailAccount : 於UAT環境寄信時多寄送到Mail主機  Y=>執行 N=>取消-->
    <add key="UATmailAccount" value="Y"/>
    <add key="smtpServer" value="apsmtp.fbt.com"/>
    <add key="mailAccount" value="Ex2016ap@fbt.com"/>
    <add key="mailSend" value="alex.hsieh@fbt.com:alex.hsieh;HO666@fbt.com:HO666"/>
    <add key="Mplus_BaseAddress" value="http://nfbsuat/FubonLifeService/WebService/"/>
    <add key="Mplus_Url" value="rest/mplus/v2/message"/>
    <!--ipSecurity : ip白名單 , 用;號分隔-->
    <add key="ipSecurity" value="::1;127.0.0.1;"/>
    <add key="as400-db-id" value="61"/>
    <add key="as400-db-key" value="Fubon!2017"/>
  </appSettings>
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.5.1"/>
    <customErrors mode="Off" defaultRedirect="~/Home/Error">
      <error redirect="~/Home/Error403" statusCode="403"/>
      <error redirect="~/Home/Error404" statusCode="404"/>
      <error redirect="~/Home/Error500" statusCode="500"/>
    </customErrors>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Credentials" value="true"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type,token"/>
        <add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS"/>
        <add name="Access-Control-Expose-Headers" value="*"/>
        <!--<add name="Access-Control-Allow-Headers" value="Content-Type, Access-Control-Allow-Headers, Authorization, X-Requested-With" />-->
        <add name="X-Content-Type-Options" value="nosniff"/>
        <remove name="X-Powered-By"/>
        <add name="X-XSS-Protection" value="1; mode=block"/>
      </customHeaders>
    </httpProtocol>
    <!--<handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>-->
    <security>
      <!--<ipSecurity allowUnlisted="false" denyAction="NotFound" >
        <add allowed="true" ipAddress="xxx.x.x.x" />
      </ipSecurity>-->
      <!--<requestFiltering>
        <verbs>
          <add verb="options" allowed="false" />
        </verbs>
      </requestFiltering>-->
    </security>
    <httpErrors>
      <remove statusCode="500" subStatusCode="-1"/>
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" prefixLanguageFilePath="" path="~/Home/Error404" responseMode="Redirect"/>
      <error statusCode="500" prefixLanguageFilePath="" path="~/Home/Error500" responseMode="Redirect"/>
    </httpErrors>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="TokenKey" connectionString="fbim"/>
    <add name="Easycom" connectionString="Server=SYSF06;User Id={0};Password={1};Pooled=false;CodePageFile=D:\\tradchin.cpg"/>
    <add name="DefaultConnection" connectionString="Data Source=10.42.70.117,3301;Persist Security Info=True;User ID=FBLCSR;Password=1qaz@WSX;Initial Catalog=dbCTI;" providerName="System.Data.SqlClient"/>
    <add name="dbCTILog" connectionString="Data Source=10.42.70.117,3301;Persist Security Info=True;User ID=FBLCSR;Password=1qaz@WSX;Initial Catalog=dbCTILog;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>