@{
    Layout = null;
}
<!DOCTYPE html>
<html class="h-100">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Done</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script>
        window.opener = null;
        window.open("", "_self");
        window.close();
    </script>
</head>
<body class="text-center h-100">
    <div class="container h-100 w-50">
        <div class="p-3" style="position:relative;top:50%;transform:translateY(-50%);border:2px #ccc solid;border-radius:5px;">
            <b>
                您已離開即時電訪頁面，請關閉視窗，謝謝！
            </b>
        </div>
    </div>
</body>
</html>