.combobox {
  position: relative;
  margin-bottom: 30px; }
  .combobox input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #00B0F2; }
  .combobox ul {
    position: absolute;
    background: #fff;
    width: 100%;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    display: none;
    border: 1px solid #ccc;
    z-index: 2; }
    .combobox ul li {
      padding: 3px 10px;
      display: block;
      cursor: pointer;
      border-bottom: 1px solid #ccc; }
      .combobox ul li p {
        font-size: 12px; }
      .combobox ul li:hover {
        background: #40cbff; }

table {
    width:100%;
    margin:5px 5px;
}

th, td {
    padding:4px 0px;

}

#qryResult {
    width: 99%;
    margin: 0px;
}
.container {

  width: 95%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 3px;

}
/*.ui-pg-div.ui-inline-del {
  font-size:150%;
}

.ui-pg-div.ui-inline-cancel {
  font-size:150%;
}

ui-icon ui-icon-cancel {
  font-size:20px;
}

ui-icon ui-icon-pencil {
  font-size:20px;
}

ui-icon ui-icon-trash {
  font-size:20px;
}

.ui-icon { width: 32px !important; height: 32px !important; }*/
.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 14px;
  font-weight: 250;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  top: 5px;
  left: 10px;
  width: 250px;
  height: 100%;
  color: #2e353d;
}
.nav-side-menu .brand {
  background-color:  #337ab7;
  border: 1px solid rgba(0, 0, 0, 0.9);

   border-top: 1px solid #23282e;
  border-bottom: 1px solid #23282e;
  border-left: 2px solid #337ab7;
  border-right: 2px solid #337ab7;

  border-radius: 4px;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
  color:#fff
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  color:#23282e
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
    border-top: 1px solid #23282e;
  border-bottom: 1px solid #23282e;
  border-left: 2px solid #337ab7;
  border-right: 2px solid #337ab7;
  background-color: #fff;
  color:#23282e
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #23282e;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #337ab7;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #fff;
  border: none;
  line-height: 28px;
  border-top: 1px solid #23282e;
  border-bottom: 1px solid #23282e;
  border-left: 2px solid #337ab7;
  border-right: 2px solid #337ab7;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #ccc;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 2px solid #337ab7;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #elffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 2px solid #337ab7;
  background-color: #fff;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
  #main {
      max-width : none !important;
  	width:calc(100%);
  	float: right;
      height:100%;
      padding:0px;
        top: 5px;
  }
}
#main .main_hand {
    padding:10px;
}
#main .main_hand_div {
    border: 2px solid #23282e;
    border-radius: 25px;
    height:156px;
    background-color:silver;
    padding:15px 15px 0px 15px;
}
#main .main_body {
    padding-right:10px;
}
body {
  margin: 0px;
  padding: 0px;
}


.containerMenu {
    overflow: auto;
    /*overflow-y:scroll;*/
  left: 260px;
  margin-left: 0px;
  min-height: 100%;
  text-align: left;
  position: fixed;
  width: calc(80%);
  /*width: calc(100% -270px);*/
  height: 100%;
  border: none;
}






