.colorgraph {
  height: 5px;
  border-top: 0;
  background: #55A8FF;
  background-image: -webkit-linear-gradient(left, #005DBE, #005DBE 12.5%, #006BDC 12.5%, #006BDC 25%, #007AFA 25%, #007AFA 37.5%, #1989FF 37.5%, #1989FF 50%, #3799FF 50%, #3799FF 62.5%, #55A8FF 62.5%, #55A8FF 75%, #73B7FF 75%, #73B7FF 87.5%, #91C7FF 87.5%, #91C7FF);
  background-image: -moz-linear-gradient(left, #005DBE, #005DBE 12.5%, #006BDC 12.5%, #006BDC 25%, #007AFA 25%, #007AFA 37.5%, #1989FF 37.5%, #1989FF 50%, #3799FF 50%, #3799FF 62.5%, #55A8FF 62.5%, #55A8FF 75%, #73B7FF 75%, #73B7FF 87.5%, #91C7FF 87.5%, #91C7FF);
  background-image: -o-linear-gradient(left, #005DBE, #005DBE 12.5%, #006BDC 12.5%, #006BDC 25%, #007AFA 25%, #007AFA 37.5%, #1989FF 37.5%, #1989FF 50%, #3799FF 50%, #3799FF 62.5%, #55A8FF 62.5%, #55A8FF 75%, #73B7FF 75%, #73B7FF 87.5%, #91C7FF 87.5%, #91C7FF);
  background-image: linear-gradient(to right, #005DBE, #005DBE 12.5%, #006BDC 12.5%, #006BDC 25%, #007AFA 25%, #007AFA 37.5%, #1989FF 37.5%, #1989FF 50%, #3799FF 50%, #3799FF 62.5%, #55A8FF 62.5%, #55A8FF 75%, #73B7FF 75%, #73B7FF 87.5%, #91C7FF 87.5%, #91C7FF);
}

.breadcrumb {
    margin-bottom:0px;
    font-weight:bolder;
}

.row{
    margin-bottom:5px;
}

.margin-top-5 {
    margin-top: 5px;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

th {
    text-align: center;
}

.navbar-default, .backgroudfubon {
    background: #DDDDDD;
}

.pagination{
    margin:0px;
}

.b-panel {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.b-panel-body {
  padding: 5px 15px;
}
.b-panel-heading {
  padding: 5px 5px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.b-panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.b-panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.b-panel-title > a,
.b-panel-title > small,
.b-panel-title > .small,
.b-panel-title > small > a,
.b-panel-title > .small > a {
  color: inherit;
}
.b-panel-footer {
  padding: 5px 5px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.b-panel > .list-group,
.b-panel > .b-panel-collapse > .list-group {
  margin-bottom: 0;
}
.b-panel > .list-group .list-group-item,
.b-panel > .list-group:first-child .list-group-item:first-child,
.b-panel > .b-panel-collapse > .list-group:first-child .list-group-item:first-child {
  border-top: 0;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.b-panel > .list-group:last-child .list-group-item:last-child,
.b-panel > .b-panel-collapse > .list-group:last-child .list-group-item:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.b-panel > .b-panel-heading + .b-panel-collapse > .list-group .list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.b-panel-heading + .list-group .list-group-item:first-child {
  border-top-width: 0;
}
.list-group + .b-panel-footer {
  border-top-width: 0;
}
.b-panel > .table,
.b-panel > .table-responsive > .table,
.b-panel > .b-panel-collapse > .table {
  margin-bottom: 0;
}
.b-panel > .table caption,
.b-panel > .table-responsive > .table caption,
.b-panel > .b-panel-collapse > .table caption {
  padding-left: 5px 15px;
  padding-right: 5px 15px;
}
.b-panel > .table:first-child,
.b-panel > .table-responsive:first-child > .table:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.b-panel > .table:first-child > thead:first-child > tr:first-child,
.b-panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child,
.b-panel > .table:first-child > tbody:first-child > tr:first-child,
.b-panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.b-panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
.b-panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.b-panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.b-panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.b-panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
.b-panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.b-panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.b-panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
  border-top-left-radius: 3px;
}
.b-panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
.b-panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.b-panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.b-panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.b-panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
.b-panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.b-panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.b-panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
  border-top-right-radius: 3px;
}
.b-panel > .table:last-child,
.b-panel > .table-responsive:last-child > .table:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.b-panel > .table:last-child > tbody:last-child > tr:last-child,
.b-panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child,
.b-panel > .table:last-child > tfoot:last-child > tr:last-child,
.b-panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.b-panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.b-panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.b-panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.b-panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.b-panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.b-panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.b-panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.b-panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
  border-bottom-left-radius: 3px;
}
.b-panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.b-panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.b-panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.b-panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.b-panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.b-panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.b-panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.b-panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
  border-bottom-right-radius: 3px;
}
.b-panel > .b-panel-body + .table,
.b-panel > .b-panel-body + .table-responsive,
.b-panel > .table + .b-panel-body,
.b-panel > .table-responsive + .b-panel-body {
  border-top: 1px solid #dddddd;
}
.b-panel > .table > tbody:first-child > tr:first-child th,
.b-panel > .table > tbody:first-child > tr:first-child td {
  border-top: 0;
}
.b-panel > .table-bordered,
.b-panel > .table-responsive > .table-bordered {
  border: 0;
}
.b-panel > .table-bordered > thead > tr > th:first-child,
.b-panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
.b-panel > .table-bordered > tbody > tr > th:first-child,
.b-panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.b-panel > .table-bordered > tfoot > tr > th:first-child,
.b-panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.b-panel > .table-bordered > thead > tr > td:first-child,
.b-panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
.b-panel > .table-bordered > tbody > tr > td:first-child,
.b-panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.b-panel > .table-bordered > tfoot > tr > td:first-child,
.b-panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0;
}
.b-panel > .table-bordered > thead > tr > th:last-child,
.b-panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
.b-panel > .table-bordered > tbody > tr > th:last-child,
.b-panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.b-panel > .table-bordered > tfoot > tr > th:last-child,
.b-panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.b-panel > .table-bordered > thead > tr > td:last-child,
.b-panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
.b-panel > .table-bordered > tbody > tr > td:last-child,
.b-panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.b-panel > .table-bordered > tfoot > tr > td:last-child,
.b-panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0;
}
.b-panel > .table-bordered > thead > tr:first-child > td,
.b-panel > .table-responsive > .table-bordered > thead > tr:first-child > td,
.b-panel > .table-bordered > tbody > tr:first-child > td,
.b-panel > .table-responsive > .table-bordered > tbody > tr:first-child > td,
.b-panel > .table-bordered > thead > tr:first-child > th,
.b-panel > .table-responsive > .table-bordered > thead > tr:first-child > th,
.b-panel > .table-bordered > tbody > tr:first-child > th,
.b-panel > .table-responsive > .table-bordered > tbody > tr:first-child > th {
  border-bottom: 0;
}
.b-panel > .table-bordered > tbody > tr:last-child > td,
.b-panel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
.b-panel > .table-bordered > tfoot > tr:last-child > td,
.b-panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
.b-panel > .table-bordered > tbody > tr:last-child > th,
.b-panel > .table-responsive > .table-bordered > tbody > tr:last-child > th,
.b-panel > .table-bordered > tfoot > tr:last-child > th,
.b-panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
  border-bottom: 0;
}
.b-panel > .table-responsive {
  border: 0;
  margin-bottom: 0;
}
.b-panel-group {
  margin-bottom: 20px;
}
.b-panel-group .b-panel {
  margin-bottom: 0;
  border-radius: 4px;
}
.b-panel-group .b-panel + .b-panel {
  margin-top: 5px;
}
.b-panel-group .b-panel-heading {
  border-bottom: 0;
}
.b-panel-group .b-panel-heading + .b-panel-collapse > .b-panel-body,
.b-panel-group .b-panel-heading + .b-panel-collapse > .list-group {
  border-top: 1px solid #dddddd;
}
.b-panel-group .b-panel-footer {
  border-top: 0;
}
.b-panel-group .b-panel-footer + .b-panel-collapse .b-panel-body {
  border-bottom: 1px solid #dddddd;
}
.b-panel-default {
  border-color: #dddddd;
}
.b-panel-default > .b-panel-heading {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #dddddd;
}
.b-panel-default > .b-panel-heading + .b-panel-collapse > .b-panel-body {
  border-top-color: #dddddd;
}
.b-panel-default > .b-panel-heading .badge {
  color: #f5f5f5;
  background-color: #333333;
}
.b-panel-default > .b-panel-footer + .b-panel-collapse > .b-panel-body {
  border-bottom-color: #dddddd;
}
.b-panel-primary {
  border-color: #337ab7;
}
.b-panel-primary > .b-panel-heading {
  color: #ffffff;
  background-color: #337ab7;
  border-color: #337ab7;
}
.b-panel-primary > .b-panel-heading + .b-panel-collapse > .b-panel-body {
  border-top-color: #337ab7;
}
.b-panel-primary > .b-panel-heading .badge {
  color: #337ab7;
  background-color: #ffffff;
}
.b-panel-primary > .b-panel-footer + .b-panel-collapse > .b-panel-body {
  border-bottom-color: #337ab7;
}
.b-panel-success {
  border-color: #d6e9c6;
}
.b-panel-success > .b-panel-heading {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.b-panel-success > .b-panel-heading + .b-panel-collapse > .b-panel-body {
  border-top-color: #d6e9c6;
}
.b-panel-success > .b-panel-heading .badge {
  color: #dff0d8;
  background-color: #3c763d;
}
.b-panel-success > .b-panel-footer + .b-panel-collapse > .b-panel-body {
  border-bottom-color: #d6e9c6;
}
.b-panel-info {
  border-color: #bce8f1;
}
.b-panel-info > .b-panel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.b-panel-info > .b-panel-heading + .b-panel-collapse > .b-panel-body {
  border-top-color: #bce8f1;
}
.b-panel-info > .b-panel-heading .badge {
  color: #d9edf7;
  background-color: #31708f;
}
.b-panel-info > .b-panel-footer + .b-panel-collapse > .b-panel-body {
  border-bottom-color: #bce8f1;
}
.b-panel-warning {
  border-color: #faebcc;
}
.b-panel-warning > .b-panel-heading {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.b-panel-warning > .b-panel-heading + .b-panel-collapse > .b-panel-body {
  border-top-color: #faebcc;
}
.b-panel-warning > .b-panel-heading .badge {
  color: #fcf8e3;
  background-color: #8a6d3b;
}
.b-panel-warning > .b-panel-footer + .b-panel-collapse > .b-panel-body {
  border-bottom-color: #faebcc;
}
.b-panel-danger {
  border-color: #ebccd1;
}
.b-panel-danger > .b-panel-heading {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.b-panel-danger > .b-panel-heading + .b-panel-collapse > .b-panel-body {
  border-top-color: #ebccd1;
}
.b-panel-danger > .b-panel-heading .badge {
  color: #f2dede;
  background-color: #a94442;
}
.b-panel-danger > .b-panel-footer + .b-panel-collapse > .b-panel-body {
  border-bottom-color: #ebccd1;
}

.b-panel-header, .b-panel-body {
border-width: 0px;
}

.datagrid,.combo-p{
border:solid 1px #D4D4D4;
}
.datagrid *{
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
}

.inline {
  vertical-align: top;
  display: inline-block;
}

.loadmask {
    z-index: 100;
    position: absolute;
    top:0;
    left:0;
    -moz-opacity: 0.5;
    opacity: .50;
    filter: alpha(opacity=50);
    background-color: #CCC;
    width: 100%;
    height: 100%;
    zoom: 1;
}
.loadmask-msg {
    z-index: 20001;
    position: absolute;
    top: 0;
    left: 0;
    border:1px solid #6593cf;
    background: #c3daf9;
    padding:2px;
}
.loadmask-msg div {
    padding:5px 10px 5px 25px;
    background: #fbfbfb;
    line-height: 16px;
	border:1px solid #a3bad9;
    color:#222;
    font:normal 11px tahoma, arial, helvetica, sans-serif;
    cursor:wait;
    font-size:xx-large;
}
.masked {
    overflow: hidden !important;
}
.masked-relative {
    position: relative !important;
}
.masked-hidden {
    visibility: hidden !important;
}

.dt-body-center {
    text-align: center;
}

/* Bootstrap Dropdown Submenu */
.dropdown-submenu {
    position: relative;
}
 
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}
 
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
 
.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}
 
.dropdown-submenu:hover > a:after {
    border-left-color: #ffffff;
}
 
.dropdown-submenu.pull-left {
    float: none;
}
 
.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}