<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="EasyComTimeOut" value="3600"/>
      <add key="W514DT_S" value="1091231"/>
      <add key="W514DT_E" value="1091231"/>
    </appSettings>
  <connectionStrings>
    <add name="Easycom" connectionString="Server=SYSF06;User Id=WFA01;Password=yP6iVs4e;Pooled=false;CodePageFile=D:\\tradchin.cpg"/>
    <add name="WanpieConnection" connectionString="Data Source=10.42.70.163,3301;Persist Security Info=True;User ID=FBLGLSI;Password=1qaz@WSX;Initial Catalog=GLSIACT;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>