@model FGL.Web.ViewModels.GLAplyRecModel

@{
    Layout = "~/Views/Shared/_LayoutFrame.cshtml";
    ViewBag.Title = ViewBag.funcName;
    var opScope = ViewBag.opScope;
}




<div class="container-fluid" id="main">
    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Title</div>
        <div class="panel-body">
            <div id="validationSummary" style="color:red;">
            </div>
            @if (opScope != "" && opScope != "0")
            {

                <div class="row">
                    <div id="qryResult" class="col-sm-24">
                        <table id="grid"></table>
                        <div id="pager"></div>
                    </div>
                </div>
            }



        </div>
    </div>

</div>



<script type="text/javascript">
    //轉跳"申請單明細"畫面
    function qryDetail(aplyNo) {
        document.location.href = "/OGL10182A/detailAply/?aplyNo=" + aplyNo;
        //$("#iframe").load("/GL/FGL10182A/detailAply/?aplyNo=" + aplyNo);

    }


    $(function () {
        $.unblockUI();
        var opScope = '@Html.Raw(ViewBag.opScope)';

        if (opScope == "" || opScope == "0") {
            $('#validationSummary').children().remove();

            var validationSummary = $('#validationSummary ul.validation-summary-errors');

            if (validationSummary.length == 0) {
                $('#validationSummary').append('<ul class="validation-summary-errors"></ul>');
                validationSummary = $('#validationSummary ul.validation-summary-errors');
            }
            validationSummary.append('<li>' + '無使用權限' + '</li>');

        } else {
            createGrid();
        }



        //*--------------查詢待覆核資料  begin-----------------*//
        function createGrid() {


            $('#qryResult').children().remove();

            $('#qryResult').append('<table id="' + "grid" + '"></table>');
            $('#qryResult').append('<div id="' + "pager" + '"></div>');

 

            $.blockUI(); //畫面鎖起來

            $("#grid").jqGrid({
                url: '/OGL10182A/LoadData/',
                //postData: para,
                datatype: 'json',
                jsonReader: {
                    repeatitems: false, id: 'aplyNo'
                },
                mtype: 'POST',
                colNames: ['覆核單編號', '覆核狀態代碼', '覆核狀態', '申請人', '申請日期'],
                colModel: [
                    {
                        name: 'aplyNo', align: 'center',
                        formatter: function (cellvalue, options, rowObject) {
                            var aplyNo = rowObject.aplyNo;
                            //return '<a style="color:Blue;text-decoration:underline;" href="/FGL10182A/detailAply/?aplyNo=' + options.rowId + ' ">' + cellvalue.trim() + '</a>';
                            return '<a href="javascript:qryDetail(\'' + options.rowId + '\')" style="color: #3366ff" id="' + options.rowId + '" >' + cellvalue.trim() + '</a>';

                        }
                    },
                   // { name: 'cMappingKey', align: 'center' },
                    //{ name: 'cMappingKeyDesc', align: 'center' },
                    { name: 'apprStat', align: 'center', hidden: true },
                    { name: 'apprStatDesc', align: 'center', hidden: true },
                    { name: 'createUid', align: 'center' },
                    { name: 'createDt', align: 'left' }
                ],
                autowidth: true,
                shrinkToFit: false,
                forceFit: true,
                pager: '#pager',
                width: 'auto',
                height: 'auto',
                rowNum: 10,
                rowList: [10, 20],
                sortname: 'aplyNo',
                sortorder: "acs",
                viewrecords: true,
                loadonce: true,
                loadComplete: function () {
                    var cnt = $('#grid').getGridParam('records')
                    $('#validationSummary').children().remove();

                    if (cnt == 0) {


                        var validationSummary = $('#validationSummary ul.validation-summary-errors');

                        if (validationSummary.length == 0) {
                            $('#validationSummary').append('<ul class="validation-summary-errors"></ul>');
                            validationSummary = $('#validationSummary ul.validation-summary-errors');
                        }
                        validationSummary.append('<li>' + '無符合條件的資料!!' + '</li>');

                    }
                }

            });

            $.unblockUI(); //畫面打開
        }

        //*--------------查詢待覆核資料  end-----------------*//







    });
</script>


