<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FRQxml.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="FRQml.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="TransferWorkingKey.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <FRQxml.Properties.Settings>
      <setting name="qryDay" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="FubonBankUrl" serializeAs="String">
        <value>http://172.19.240.1:9201/</value>
      </setting>
      <setting name="SPName" serializeAs="String">
        <value>FBL_FPS</value>
      </setting>
      <setting name="LoginID" serializeAs="String">
        <value>FBL_FPS</value>
      </setting>
      <setting name="SPName_NB" serializeAs="String">
        <value>NB522657</value>
      </setting>
      <setting name="LoginID_NB" serializeAs="String">
        <value>NB522657</value>
      </setting>
      <setting name="FastErrorApi" serializeAs="String">
        <value>http://10.240.68.38:8096/FastError/RemittanceFailureNotice</value>
      </setting>
    </FRQxml.Properties.Settings>
    
  </userSettings>
  <connectionStrings>
    <add name="dbGLEntities" connectionString="metadata=res://*/Model.dbFGLEntities.csdl|res://*/Model.dbFGLEntities.ssdl|res://*/Model.dbFGLEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.42.70.117,3301;initial catalog=dbGL;user id=FBLGL;password=5tgb^YHN;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="dbFGL" connectionString="Data Source=10.42.70.117,3301;Persist Security Info=True;User ID=FBLGL;Password=5tgb^YHN;Initial Catalog=dbGL;" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>