<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="DF" connectionString="Data Source=10.42.70.115,3301;Persist Security Info=True;User ID=FBLRCT;Password=4rfv%TGB;Initial Catalog=DFDBUT;" providerName="System.Data.SqlClient" />
    <add name="DBINTRA" connectionString="Data Source=10.42.70.115,3301;Persist Security Info=True;User ID=FBLGL;Password=1qaz@WSX;Initial Catalog=DB_INTRA;" providerName="System.Data.SqlClient" />
    <add name="GLSIEXT" connectionString="Data Source=10.42.70.163,3301;Persist Security Info=True;User ID=FBLGLSI;Password=1qaz@WSX;Initial Catalog=GLSIEXT;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="smtpServer" value="apsmtp.fbt.com"/>
    <add key="mailAccount" value="Ex2016ap@fbt.com" />
    <add key="mailSend_msg" value="Ex2016ap@fbt.com:A19Msg;anita.chiu@fbt.com:邱維蓁;clair.liu@fbt.com:劉茹涵;mark.ch.chang@fbt.com:張家華;" />
    <add key="mailSend_table" value="Ex2016ap@fbt.com:A19Msg;anita.chiu@fbt.com:邱維蓁;clair.liu@fbt.com:劉茹涵;mark.ch.chang@fbt.com:張家華;" />
  </appSettings>
</configuration>