<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TransferWorkingKey.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <TransferWorkingKey.Properties.Settings>
      <setting name="HSMUrl" serializeAs="String">
        <value>http://10.240.68.38:8081/FbHsmWebService/HSMService</value>
      </setting>
      <setting name="HSMReTry" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="BankReTry" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="FubonBankUrl" serializeAs="String">
        <value>http://172.19.240.1:9201/</value>
      </setting>
      <setting name="CDKeyLabel" serializeAs="String">
        <value />
      </setting>
      <setting name="IV" serializeAs="String">
        <value />
      </setting>
      <setting name="WorkingKeyLabel" serializeAs="String">
        <value />
      </setting>
      <setting name="smtpServer" serializeAs="String">
        <value>10.204.241.226</value>
      </setting>
      <setting name="mailAccount" serializeAs="String">
        <value>glsisys.life@fbt.com</value>
      </setting>
      <setting name="mailPwd" serializeAs="String">
        <value>Aa87522899</value>
      </setting>
      <setting name="sendMailTest" serializeAs="String">
        <value>Y</value>
      </setting>
    </TransferWorkingKey.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="db_HSM_GL_Entities" connectionString="metadata=res://*/Model.GLModel.csdl|res://*/Model.GLModel.ssdl|res://*/Model.GLModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.42.71.140,3301;initial catalog=dbGL;user id=FBLGL;password=4rfv%TGB;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DB_INTRAEntities" connectionString="metadata=res://*/Model.DB_INTRAEntities.csdl|res://*/Model.DB_INTRAEntities.ssdl|res://*/Model.DB_INTRAEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.42.71.137,3301;initial catalog=DB_INTRA;user id=FBLTREASURY;password=1qaz@WSE;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>